* {
    box-sizing: border-box;
}

body, ul, form, li, div, h1, h2,h3,h4, input, textarea {
    margin: 0;
    padding: 0;
}

body {
    --bgcolor: #e6ccff;
    --coloroscurito: #595990;
    --secondcolor: #988fe3;
    --cuartocolor: #262b49;
    background-color: var(--cuartocolor);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130dvh; /* Cambiado a 100vh para ser responsive */
    font-family: 'Raleway';
    flex-direction: column;
    margin: auto;
}

.Wrapper__form {
    animation: aparecer 0.5s ease-in-out both; 
}


.formulario {
    width: 100%;
}

.Wrapper__form {
    flex: 1; /* Permite que el formulario ocupe el espacio disponible */
    overflow: auto; /* Permite el desplazamiento si el contenido excede el tamaño */
    width: clamp(300px, 800px, 100%); /* Ajustado para ser responsivo */
    background-color: var(--bgcolor);
    border-radius: 20px;
    margin: auto;
    box-shadow: 0 0 20px 5px var(--cuartocolor), 0 0 50px 2px rgba(250, 163, 209, 0.5), 0 0 50px 2px rgba(212, 205, 209, 0.5); 
    display: flex; /* Cambiado para alinear el contenido */
    flex-direction: column; /* Mantiene el contenido verticalmente */
    justify-content: center;
    
}

.form__title {
    text-align: center;
    padding: 20px;
    margin: 10px;
}

.form__text {
    text-align: center;
    padding: 20px;
    margin: 10px;
}


.form__content {
    padding: 10px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto); /* Cambiado a auto para ajustar a contenido */
    grid-gap: 20px;
    margin: 30px 0;
    flex-grow: 1; /* Permite que el grid ocupe el espacio disponible */
}

input[type="submit"] {
    border-radius: 0 0 15px 15px;
    border: none;
    margin-top: auto; /* Asegura que el botón quede al final del contenedor */
}

textarea {
    outline: none;
    font-family: 'Raleway';
    grid-column: span 3; 
    resize: none; 
    width: 100%; 
    box-sizing: border-box; 
    padding: 10px; 
    border: none;
    border-radius: 2px;
    background-color: inherit;
    border-bottom: 1px solid var(--cuartocolor);
    border-right: 1px solid var(--cuartocolor);
    transition: background-color 0.5s, color 0.5s, outline 0.5s;
}

label:hover {
    text-decoration: underline;
}

textarea:focus {
    outline: 1px solid var(--secondcolor);
    background-color: var(--cuartocolor);
    color: var(--bgcolor);
}

input[type="text"] {
    outline: none;
    font-family: 'Raleway';
    width: 100%; 
    padding: 10px; 
    border: none;
    border-radius: 2px;
    background-color: inherit;
    border-bottom: 1px solid var(--cuartocolor);
    transition: background-color 0.5s, color 0.5s, outline 0.5s;
}

input[type="text"]:focus {
    outline: 1px solid var(--secondcolor);
    background-color: var(--cuartocolor);
    color: var(--bgcolor);
}

.formulario label {
    user-select: none;
    justify-self: center;
    align-self: center;
    font-weight: 500;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    font-size: 1.1rem;    
}

.button {
    position: relative;
    padding: 15px;
    letter-spacing: 3px;
    background-color: var(--coloroscurito);
    width: 100%;
    color: var(--bgcolor);
    transition: background-color 0.5s, color 0.5s;
}

.button:hover {
    background-color: #e6ccff;
    color: var(--cuartocolor);
}

.form__resultado {
    text-align: center;
    padding: 10px;
    color: var(--cuartocolor);
    font-weight: 700;
    overflow: auto; 
    max-height: 150px;
    animation: aparecer 0.5s ease-in-out both; 
}


.wrapper__table {
    width: 100%;
    margin: 40px;
    padding: 40px;
    max-height: 300px;
    margin-top: 20px;
    flex: 0 0 auto; /* La tabla no crecerá más allá de su contenido */
    overflow: auto; /* Permite el desplazamiento si es necesario */
    max-height: 300px; /* Establece una altura máxima para la tabla, ajusta según sea necesario */
}

#tabla {
    border-collapse: collapse;
    width: 100%;
    height: 100%;

}

#tabla th, #tabla td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

#tabla th, tr {
    background-color: #f2f2f2;
}

@media screen and (max-width: 1000px) {
    .form__content {
        grid-template-columns: 1fr; /* Mantiene una sola columna */
        grid-template-rows: auto; /* Ajusta el tamaño de las filas al contenido */
    }

    .formulario label {
        width: 100%;
        font-size: 0.8rem;
    }
    
    textarea {
        grid-column: span 1;
    }

    .form__title {
        font-size: 1.7rem;
    }

    .form__text {
        font-size: 0.8rem;
    }
}

@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}